// $bg-color : #3D3B45;
// $bg-hover : #2c2b33;
// $bg-dark : #313038;
// $bg-darker : #29272d;
// $primary-color : #FBE78B;
// $secondary-color : #F58758;
// $active-color : #E34B4A;
// $text-color : #bcbac4;
// $link-color: #ddd;
// $text-active : #bcbac4;


// alt colors:
// $bg-color: #494d5d;
$bg-color: rgba(55,56,68,0.5);
$bg-dark: #414250;
$bg-darker : #373844;
$overlay-color : rgba(25,25,35,0.9);
$primary-color : #00a2d5;
$primary-color-05 : rgba(0,162,213,0.5);
$secondary-color : #00a2d5;
$active-color : #E57800;
$active-color-05 : rgba(229,120,0,0.5);
$text-color : #a6a9b7;
$link-color: #d2dde0;
$text-active : #fff;
