.carousel-content {
  background-color: #333;
  color: #ddd;
  width: 100%;
  min-height: 400px;
  padding: 20px; }

.carousel-indicators li {
  border: 1px solid #f00;
  background-color: #ff0; }
  .carousel-indicators li.active {
    background-color: #0f0; }
