@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);
html {
  background-color: #414250;
  font-family: 'Open Sans', sans-serif;
  height: 100%; }

::-moz-selection {
  background: #00a2d5;
  color: #fff; }

::selection {
  background: #00a2d5;
  color: #fff; }

body {
  background-color: #414250;
  color: #a6a9b7;
  background-image: url("../img/layout/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100%; }

p {
  color: #a6a9b7;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  margin-bottom: 2px; }

h1, h2, h3 {
  color: #fff; }

em {
  color: #fff;
  font-style: normal; }

iframe {
  display: block;
  margin: 10px auto;
  width: 640px;
  height: 360px; }

.padL {
  padding-left: 10px; }

a, a:visited {
  color: #d2dde0;
  text-decoration: none; }

a:hover, a:active {
  text-decoration: none;
  color: #E57800; }

div.under-title {
  width: 100%;
  border-bottom: 2px solid #00a2d5;
  margin-bottom: 10px;
  margin-top: -8px; }

footer {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: #373844;
  border: 1px solid #373844;
  width: 100%;
  padding: 8px 0 6px 0;
  text-align: center;
  color: #a6a9b7;
  z-index: 999; }
  footer ul {
    list-style: none;
    display: inline; }
    footer ul li {
      font-size: 1.2em;
      display: inline; }
      footer ul li img {
        height: 22px;
        padding: 0 25px;
        opacity: 0.8; }
        footer ul li img:hover {
          opacity: .5; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.mybox {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #373844;
  background-color: rgba(55, 56, 68, 0.5);
  color: #a6a9b7;
  padding: 20px 60px 10px 60px;
  width: 100%; }

.shadow {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5); }

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.thumb {
  display: block;
  overflow: hidden;
  position: relative;
  width: 25%; }
  .thumb img {
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .thumb:hover img {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15); }
  .thumb .thumb-over {
    display: block;
    background-color: rgba(229, 120, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 25% 5px;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .thumb .thumb-over:hover {
      opacity: 1; }
    .thumb .thumb-over a {
      display: block;
      width: 40%;
      margin: 10% auto 0 auto;
      padding: 4px;
      background-color: #E57800;
      border: 2px solid #fff;
      color: #fff;
      font-weight: 600;
      font-size: 1.2em; }
      .thumb .thumb-over a:hover {
        background-color: #fff;
        border: 2px solid #fff;
        color: #E57800; }

.navbar.navbar-inverse {
  border: 1px solid #373844;
  background-color: #414250; }
  .navbar.navbar-inverse .navbar-nav > li > a {
    color: #d2dde0; }
  .navbar.navbar-inverse .navbar-brand {
    color: #d2dde0; }

ul.nav.navbar-nav {
  padding-left: 30px; }
  ul.nav.navbar-nav li.active a {
    padding-left: 30px;
    background-color: #414250;
    border-bottom: 4px solid #E57800; }
    ul.nav.navbar-nav li.active a:hover, ul.nav.navbar-nav li.active a:visited {
      background-color: #373844; }
  ul.nav.navbar-nav li a:hover {
    background-color: #373844;
    border-bottom: 4px solid #00a2d5;
    color: #fff;
    -webkit-transition: border 100ms;
    transition: border 100ms; }

@media only screen and (max-width: 992px) {
  .thumb {
    width: 33.3333%; }
  footer {
    padding: 4px 0 2px 0; }
    footer ul li {
      font-size: 0.8em; }
      footer ul li img {
        height: 20px;
        padding: 0 10px; } }

@media only screen and (max-width: 720px) {
  .mybox {
    padding: 20px 30px 10px 30px; } }

@media only screen and (max-width: 600px) {
  .thumb {
    width: 50%; }
  footer {
    padding: 4px 0 2px 0; }
    footer ul li img {
      height: 20px;
      margin: 5px; } }

@media only screen and (max-width: 380px) {
  .thumb {
    width: 100%; } }

.carousel-inner {
  margin-top: 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #373844; }

.carousel-content {
  background-color: rgba(55, 56, 68, 0.5);
  color: #a6a9b7;
  padding: 20px 60px 60px 60px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%; }
  .carousel-content div.desc {
    display: block;
    width: 40%; }
  .carousel-content div.figure {
    display: block;
    float: right;
    width: 50%; }
    .carousel-content div.figure img {
      width: 100%;
      max-height: 330px;
      margin-top: 40px; }

#carousel-home a.carousel-control {
  background-image: none; }
  #carousel-home a.carousel-control.left span {
    left: 20px; }
  #carousel-home a.carousel-control.right span {
    right: 20px; }

.carousel-indicators li {
  border: 1px solid #00a2d5; }
  .carousel-indicators li.active {
    background-color: #00a2d5; }

@media only screen and (max-width: 720px) {
  .carousel-content div.desc {
    width: 100%; }
  .carousel-content div.figure {
    float: left;
    width: 100%;
    margin-bottom: 20px; }
    .carousel-content div.figure img {
      margin-top: 5px; } }

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1031;
  top: 0;
  background-color: rgba(25, 25, 35, 0.9); }
  #overlay img {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    max-height: 100%;
    max-width: 100%;
    margin: auto auto; }
