.carousel-inner {
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid $bg-darker;
}
.carousel-content{
 background-color: $bg-color;
 color: $text-color;
 padding: 20px 60px 40px 60px;
 border-radius: 4px;
 min-height: 500px;
 width: 100%;
 div.desc{
   display: block;
   width: 40%;
 }
 div.figure {
   display: block;
   float: right;
   width: 50%;
   img {
     width: 100%;
     max-height: 330px;
     margin-top: 40px;
   }
 }
}

#carousel-home a.carousel-control {
  background-image: none ;
  &.left span {
    left: 20px;
  }
  &.right span {
    right: 20px;
  }
}

.carousel-indicators li {
  border: 1px solid $secondary-color;
  &.active {
    background-color: $secondary-color;
  }
}

@media only screen and (max-width: 720px) {
  .carousel-content{
   padding: 20px 60px 40px 60px;
   div.desc{
     width: 100%;
   }
   div.figure {
     float: left;
     width: 100%;
     margin-bottom: 20px;
   }
  }
}
